syntax = "proto3";
{{ $packageName := ToPrivateName (.ServiceName) }}
package {{$packageName}};

option go_package = "{{.App.Module}}/protos;{{$packageName}}";

import "google/protobuf/timestamp.proto";
{{ $modelName := ToPublicName (.ServiceName) }}
service {{$modelName}}Service {
  rpc Create{{$modelName}}(Create{{$modelName}}Request) returns (Create{{$modelName}}Response);
  rpc Get{{$modelName}}(Get{{$modelName}}Request) returns (Get{{$modelName}}Response);
  rpc Update{{$modelName}}(Update{{$modelName}}Request) returns (Update{{$modelName}}Response);
  rpc Delete{{$modelName}}(Delete{{$modelName}}Request) returns (Delete{{$modelName}}Response);
}

message Create{{$modelName}}Request {
    string name = 1;
}

message Get{{$modelName}}Request {
    int32 id = 1;
}

message Update{{$modelName}}Request {
    int32 id = 1;
    string name = 2;
}

message Delete{{$modelName}}Request {
    int32 id = 1;
}

message Create{{$modelName}}Response {
    int32 id = 1;
}

message Get{{$modelName}}Response {
    int32 id = 1;
    string name = 2;
}

message Update{{$modelName}}Response {
    int32 id = 1;
    string name = 2;
}

message Delete{{$modelName}}Response {}