package internal

import (
    "context"
)

{{ $ServiceName := ToPublicName (.ServiceName) }}


type Repository interface {
    Create{{$ServiceName}}(ctx context.Context, in *pb.Create{{$ServiceName}}Request) (string, error)
    Get{{$ServiceName}}(ctx context.Context, in *pb.Get{{$ServiceName}}Request) (models.{{$ServiceName}}, error)
    Update{{$ServiceName}}(ctx context.Context, in *pb.Update{{$ServiceName}}Request) (models.{{$ServiceName}}, error)
    Delete{{$ServiceName}}(ctx context.Context, in *pb.Delete{{$ServiceName}}Request) (error)
}

